<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zina_eliran.app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".BaseActivity" />
        <activity
            android:name=".LobbyActivity"
            android:configChanges="screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:configChanges="screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".TrainingsListActivity" />
        <activity android:name=".ProfileSettingsActivity" />
        <activity
            android:name=".TrainingDetailsActivity"
            android:label="@string/title_activity_training_details"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
    </application>

</manifest>